<div class="container">
  <div class="columns is-centered p-0">
    <div class="column is-two-fifths">
      <div class="t-flex">
        <h3 class="title is-4 has-text-grey-dark">Your tasks</h3>
        <button
          class="button btn-n-m has-text-primary"
          *ngIf="tasks.length > 0"
          (click)="openCreateTask()"
        >
          <fa-icon class="t-icon" icon="circle-plus"></fa-icon>
        </button>
      </div>
    </div>
    <div class="column is-two-fifths"></div>
  </div>

  <app-task-create *ngIf="!tasks"> </app-task-create>
  <div class="columns is-centered">
    <app-tasks-list
      class="column is-two-fifths"
      [tasks]="tasks"
    ></app-tasks-list>
    <div class="column is-two-fifths">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
