.list-item {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  color: #444 !important;
  border: 1px solid #ccc;
  align-items: center;
  border-radius: 4px;
}

.list:not(:last-child) {
  margin-bottom: 22px;
}

.button {
  visibility: hidden;
  padding-right: 0;
  background-color: transparent;
}

.list-item:hover .button {
  visibility: visible;
}

.list-item-active {
  background-color: #fdf8f5;
}
