<div class="list">
  <div
    [routerLink]="'create'"
    routerLinkActive="list-item-active"
    class="list-item has-text-grey color-bg"
    *ngIf="tasks.length === 0 && showFirstTask"
  >
    <div class="firstTask">
      <div>Add your first task by pressing</div>
      <button title="Create a new task" class="button btn-n-m btn-circle">
        <fa-icon icon="circle-plus"></fa-icon>
      </button>
    </div>
  </div>
  <ng-container *ngFor="let task of tasks">
    <div
      [routerLink]="'details/' + task.id"
      routerLinkActive="list-item-active"
      class="list-item has-text-grey"
      *ngIf="showActiveTasks == task.status"
    >
      <div>{{ task.taskTitle }}</div>
      <button
        title="Delete"
        class="button btn-n-m"
        (click)="deleteTask(task.id)"
      >
        <fa-icon icon="trash"></fa-icon>
      </button>
    </div>
  </ng-container>
</div>
