.list-item {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  color: #444 !important;
  border: 1px solid #ccc;
  align-items: center;
  border-radius: 4px;
}

.list-item:not(:last-of-type) {
  margin-bottom: 22px;
}

.button {
  visibility: hidden;
  padding-right: 0;
  background-color: transparent;
}

.list-item:hover .button {
  visibility: visible;
}

.list-item-active,
.color-bg {
  background-color: #fdf8f5;
}

h3 {
  width: 280px;
}

.firstTask {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #444;
}

.btn-circle {
  visibility: visible;
  color: #00d1b2;
  font-size: 28px;
}
