<ng-container *ngIf="username">
  <div class="c-flex">
    <div>
      <h3 class="title is-5">Hi, {{ username }}</h3>
    </div>
    <div class="buttons">
      <div>
        <button class="button h-btn">
          <fa-icon icon="user"></fa-icon>
          <strong class="m-l-5">Profile</strong>
        </button>
      </div>
      <div>
        <button class="button h-btn">
          <fa-icon icon="arrow-right-from-bracket"></fa-icon>
          <strong class="m-l-5">Sign out</strong>
        </button>
      </div>
    </div>
  </div>
</ng-container>
