/* You can add global styles to this file, and also import other style files */
@import "bulma/css/bulma.min.css";

body,
.title,
.button {
  color: #444;
}

.container-modal {
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 56px;
  padding-right: 56px;
  max-width: 678px !important;
  margin-top: 156px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.c-flex {
  display: flex;
  justify-content: space-between;
  background-color: #f4e0d4;
  align-items: center;
}

.t-flex {
  display: flex;
  align-items: baseline;
}

.t-icon {
  font-size: 28px;
  position: absolute;
  top: 12px;
  left: 15px;
}

.h-btn {
  border: none;
  background-color: #f4e0d4;
}

.btn-n-m {
  border: none;
}

.rlt {
  position: relative;
  max-width: 130px;
}

.abs {
  position: absolute;
  right: 15px;
  top: 8px;
}

.color-bg {
  background-color: #fdf8f5;
}

.button.is-focused:not(:active),
.button:focus:not(:active) {
  box-shadow: none;
}
/********** MARGINS *********/

.m-t-10 {
  margin-top: 10px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-b-22 {
  margin-bottom: 22px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.list-item:hover {
  cursor: pointer;
}
