<div class="container">
  <h3>Create an account</h3>
  <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
    <app-input
      label="First Name"
      [control]="authForm.get('firstName')"
    ></app-input>
    <app-input
      label="Last Name"
      [control]="authForm.get('lastName')"
    ></app-input>
    <app-input
      label="Username"
      [control]="authForm.get('username')"
    ></app-input>
    <app-input
      label="Email"
      inputType="email"
      [control]="authForm.get('email')"
    ></app-input>
    <app-input
      label="Password"
      inputType="password"
      [control]="authForm.get('password')"
    ></app-input>
    <app-input
      label="Password Confirmation"
      inputType="password"
      [control]="authForm.get('passwordConfirmation')"
    ></app-input>
    <div
      *ngIf="
        authForm.get('password').touched &&
        authForm.get('passwordConfirmation').touched &&
        authForm.errors
      "
    >
      <p *ngIf="authForm.errors['passwordsDontMatch']">
        Password and Password Confirmation must match.
      </p>
      <p *ngIf="authForm.errors['noConnection']">
        No internet connection detected. Failed to sign up.
      </p>
      <p *ngIf="authForm.errors['unknownError']">Failed to sign up.</p>
    </div>
    <button>Sign Up</button>
  </form>
</div>
